html,
body,
#root,
.app {
  height: 100%;
}

body {
  margin: 0;

  font-family: "Roboto Condensed", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 728px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  margin: 15px 0 30px;

  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 120px;

  column-gap: 20px;
  row-gap: 30px;
}

@media screen and (max-width: 500px) {
  .images {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.images img {
  display: block;
  max-width: 100%;
}

footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 56px;

  color: #ccc;
  font-size: 14px;
  line-height: 16px;

  border-top: 1px solid #ccc;
}

.app footer {
  margin-top: auto;
}

.shade {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgb(0 0 0 / 75%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;

  display: grid;
  grid-template-columns: 330px 1fr;

  box-sizing: border-box;

  width: 620px;
  max-width: 100%;
  padding: 30px 40px 30px 30px;
  overflow: auto;

  column-gap: 15px;

  background: white;

  transform: translate(-50%, -50%);
  row-gap: 30px;
}

@media screen and (max-width: 500px) {
  .modal {
    grid-template-columns: 1fr;
    align-content: start;
    height: 100%;
    padding: 0 22px 50px;
    row-gap: 25px;
  }
}

.modal img {
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .modal img {
    display: block;
    max-width: calc(100% + 44px);
    margin: 0 -22px;
  }
}

.modal__close {
  position: absolute;
  top: 21px;
  right: 21px;

  width: 18px;
  height: 18px;

  background-color: transparent;

  background-image: url("./resources/close.svg");
  border: none;
  cursor: pointer;
}

.comments {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

@media screen and (max-width: 500px) {
  .comments {
    grid-row: auto;
    grid-column: 1 / -1;
    margin-bottom: 15px;
  }
}

.comment {
  font-size: 13px;
  font-family: Roboto, sans-serif;
}

.comment + .comment {
  margin-top: 20px;
}

.comment__date {
  display: block;
  margin-bottom: 5px;

  color: #999;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__input {
  height: 30px;
  padding: 0 10px;

  border: 1px solid #ccc;
  border-radius: 3px;
}

.form__input::placeholder {
  color: #ccc;
}

.form__button {
  height: 30px;

  color: #fff;

  background: #4997d0;
  border: none;

  border-radius: 3px;
  cursor: pointer;
}
