html, body, #root, .app {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.app {
  max-width: 728px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

h1 {
  text-align: center;
  margin: 15px 0 30px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 120px;
}

@media screen and (max-width: 500px) {
  .images {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

img {
  display: block;
  max-width: 100%;
}

footer {
  height: 56px;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #ccc;
  font-size: 14px;
  line-height: 16px;
}

.app footer {
  margin-top: auto;
}
